@import "./base/colores";
@import "./base/mixins";

.container-noticia{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.box-noticia{
    color: nth($color, 1);
    margin: 20px 0 20px 0;
    background-color: rgba(nth($color, 2), $alpha: 0.9);
    border-radius: 10px;
    max-width: 80vh;
    h2{
        font-size: 2rem;
        margin: 30px 0 10px 0;
        padding: 10px;
    }
    p{
        font-size: 1.2rem;
        padding: 10px;
    }
}
.imagen{
    background-color: rgba(nth($color, 1), $alpha: 0.8);
    @include display-flex-justify-center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 40vh;
    img{
    height: 100%;
    }
    
}

/* medias */
@media (max-width: 968px) {

    /*noticias*/
    .imagen{
        height: 22vh;
    }
}
