@import "./base/colores";
@import "./base/mixins";

/* programa */
.container-programa-mobile{
    display: none;
}
.container-programa-desktop{
    padding: 2vh;
    display: flex;
    justify-content: space-around;
    background-color: rgba(nth($color, 2), $alpha: 0.9);
    height: 11vh;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.container-programa-mobile-sb{
    display: none;
}
.btn{
    @include width-height(20vh, 7vh);
    margin: 0.3vh 1vw;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    color: white;
    background-color: nth($color, 5); 
    border-radius: 10px;
    font-size: 2rem;
    box-shadow: 
        rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    span{
        position: relative;
        z-index: 2;
        transition: 0.3s all;
    }
}
.btn::after{
    content: "";
    position: absolute;
    @include width-height(100%, 100%);
    background-color: nth($color, 1);
    z-index: 1;
    top: -80px;
    left: 0;
    transition: 0.3s ease-in-out all;
}
.btn:hover::after{
    top: 0;
}

.dropdown_menu{
    display: flex;
    justify-content: space-around;
    @include width-height(100%, 240px);
    background-color: rgba(nth($color, 2), $alpha: 0.9);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 20px;
    a{
        font-size: 1.5rem;
        padding: 0 10px;
        display: flex;
        justify-content: flex-end;
        text-decoration: none;
        color: nth($color, 1);
    }
    :hover{
        transition: all 0.5s;
        color: white;
    }
}
.dropdown_menu_hide{
    display: none;
}

@media (max-width: 968px){
    /* programa */
    .container-programa-mobile{
        background-color: rgba(nth($color, 2), $alpha: 0.9);
        border-radius: 10px;
    }
    .container-programa-mobile-sb{
        padding: 10px;
        @include display-flex-justify-center;
        img{
            box-shadow: 
                -10px 0px 13px -7px nth($color, 2),
                10px 0px 13px -7px nth($color, 2),
                5px 5px 15px 5px rgba(0,0,0,0);
        }
    }
    .container-programa-desktop{
        display: none;
    }
    .dropdown_menu{
        display: none;
    }
    .container-programa-mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
    }
    .btn{
        margin: 20px 0 0 0;
        @include width-height(40vh, 7vh);
    }
    .horario-mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        @include width-height(100%, 35vh);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    a{
        font-size: 1.5rem;
        padding: 0 10px;
        display: flex;
        justify-content: flex-end;
        text-decoration: none;
        color: nth($color, 1);
    }
    }
}