@import "./base/colores";

/* footer */
.container-footer{
    text-align: center;
    height: 100%;
    background-color: nth($color, 2);
    color: nth($color, 1);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    h6{
        margin: 2vh;
        font-size: 2.3rem;
        text-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5);
    }
}
.container-redes{
    height: 27vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    a{
        font-size: 2.5rem;
        text-decoration: none;
        color: nth($color, 1);
        text-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5);
    }
    i{
        margin: 0.5vw;
        font-size: 2.5rem;
        text-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5);
    }
}
.box-redes{
    display: flex;
    align-items: center;
}
.maps{
    @include width-height(50vh, 20vh);
}

/* medias */
@media (max-width: 968px) {

    /* footer */
    .container-footer{
        display: flex;
        flex-direction: column;
        @include width-height(100%, 43vh);
        background-color: nth($color, 2);
        color: nth($color, 1);
        border-radius: 10px;
        h6{
            margin: 2vh;
            font-size: 2rem;
            text-align: center;
        }
    }
    .container-redes{
        display: flex;
        flex-direction: column;
        align-items: center;
        a{
            font-size: 1.5rem;
            text-decoration: none;
            color: nth($color, 1);
        }
        i{
            margin: 1vh;
            font-size: 1.5rem;
        }
    }
    .box-redes{
        display: flex;
        align-items: center;
    }
    .maps{
        @include width-height(50vw, 15vh);
    }
}